.idea/misc.xml
.DS_Store
.idea/workspace.xml
generate-client/README.md
generate-client/src
generate-client/target
single-domestic-payment/target
.idea
.idea/
.idea/compiler.xml
.idea/dynamic-reg.iml 
.idea/encodings.xml 
.idea/libraries 
.idea/misc.xml 
.idea/modules.xml 
.idea/uiDesigner.xml 
.idea/vcs.xml 
.idea/workspace.xml
.DS_Store
create-registration-jwt/create-registration-jwt.iml
create-registration-jwt/src/main/main.iml
create-registration-jwt/src/test/test.iml
generate-client/swagger-spring.iml
single-domestic-payment/.mvn/.mvn.iml
single-domestic-payment/single-domestic-payment.iml
single-domestic-payment/src/main/main1.iml
